<% if flash[:notice].present? %>
  <% [flash[:notice]].flatten.each do |msg| %>
    <div class="alert alert-success" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<% if flash[:alert].present? %>
  <% [flash[:alert]].flatten.each do |err| %>
    <div class="alert alert-danger" role="alert">
      <%= err %>
    </div>
  <% end %>
<% end %>
