<nav class="navbar navbar-dark bg-dark sticky-top text-light">
  <a class="navbar-brand" href="#">
    <%= image_tag("logo.png", height: '30px')%>
  </a>

  <% if current_user.present? && current_user.is_a?(Person) %>
    <%= link_to t('shared.logout'), logout_path %>
  <% else %>
    <%= link_to t('shared.login'), new_login_path %>
  <% end %>
</nav>
