<nav class="navbar navbar-dark bg-dark sticky-top text-light">
  <a class="navbar-brand" href="#">
    <%= image_tag("logo.png", height: '30px')%>
  </a>

  <% if current_user.present? %>
    <%= link_to "LOGOUT", logout_path %>
  <% else %>
    <%= link_to "LOGIN", login_path %>
  <% end %>
</nav>
