<h2> Sobre a NCI GameStore </h2><br>
<dt> Quer saber um pouco mais sobre nós? </dt><br>

<h2> Quem somos </h2>
<p> NCI GameStore é um lugar onde você encontra os últimos e melhores games! <br>
Agora com entregas internacioanis (nos importamos com seus amigos gamers que vivem longe), economize precioso tempo de jogo e tenha seus jogos favoritos entregues na sua porta! <br>
Caso queira dizer oi estamos de braços abertos em nossa loja, seja bem vindo!</p><br>

<h2> Onde nos encontrar </h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6471.2182316042345!2d-6.234004369414063!3d53.348386724742284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6d51b774ee7fa935!2sNational%20College%20of%20Ireland!5e0!3m2!1sen!2sie!4v1585237703722!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><br>

<br><dt> Diga-nos o quanto você adora a NCI GameStore! Contate-nos
<%= link_to("aqui", contact_path) %></dt><br>
<br>
