<div class="container-fluid mt-3">
  <%= render partial: 'shared/alerts'%>

  <section class="search">
    <%= form_tag(root_path, method: :get, remote: true) do %>
    <%= text_field_tag :q, params[:q], placeholder: t('shared.search'), class: 'form-control', autocomplete: 'off' %>
    <% end %>
  </section>

  <section id="product_list" class="products">
    <%= render partial: 'product', collection: @products %>
  </section>
</div>
