<div class="container-fluid">
  <%= render partial: 'shared/alerts'%>
  <h1>Shopping cart</h1>

  <div class="shopping_cart_items row">
    <%= render partial:'item', collection: @cart.order_items %>
  </div>

<div class="text-center">
<% if @cart.can_checkout? %>
<%= link_to 'Checkout', checkout_shopping_cart_path, method: :put, class: 'btn btn-success btn-lg' %>
<% end %>
</div>

</div>
