@import "bootstrap";
@import "fontawesome";
@import "solid";

body{
  color: #222c34
}

.login-card{
  width:100%;
  max-width:350px;
}


section.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
