@import "bootstrap";
@import "fontawesome";
@import "solid";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body{
  color: #222c34;
  font-family: 'Lato', sans-serif;
}

.login-card{
  width:100%;
  max-width:350px;
}


section.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}


.full-page-bg{
  // background: linear-gradient(to top right, #ff5263e6 10%, #ff7381e6 65%, #fcbd01e6 125%);
  background: linear-gradient(to top right, #1FA2FF 10%, #12D8FA 65%, #A6FFCB 125%);
}


#navbar{
  z-index: 100;
}

#cart-widget{
  z-index: 50;
}

#content{
  z-index: 10;
}
